



.c1
{
    background-color:rgba(108, 6, 121, 0.426);
    height:300px;
    width:300px;

}
p{
    background-color: rgba(199, 29, 131, 0.653);
    color:rgba(201, 239, 6, 0.734);
}
span{
   
    background-color: white;
    color:rgb(76, 106, 241);
}
.c2{
    background-image:url('im4.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 700px;
    width: 100%;

}

.c2 h1{
    
  font-size: 80px;
  
   color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(237, 30, 244),
    0 0 82px rgb(237, 30, 244),
    0 0 92px rgb(237, 30, 244),
    0 0 102px rgb(237, 30, 244),
    0 0 151px rgb(237, 30, 244);
  
  
  text-align: center;

  
  
}
.c2 p{
    background-color: rgba(199, 9, 209, 0.518); 
    margin:50px;
    align-content: center;
    color:beige;
    font-style: italic;
   padding:15px;
  
   position:static;
   font-weight: :bold;
    opacity:0.9;
}